# Python
__pycache__/
*.py[cod]
*.env
venv/
.env

# Node
node_modules/

# macOS
.DS_Store

# Logs
*.log

# VS Code
.vscode/

# Build
build/
dist/

# Others
*.sqlite3
*.db
*.bak
*.swp
*.swo

# Frontend
/frontend/node_modules/
/frontend/dist/
